<div class="comment-node">
    <div class="comment-wrapper">
        <div class="hide"></div>
        <div class="comment">
            <div class="header">
                <div class="left">
                    <div class="avatar-wrapper">
                        <img class="avatar andropov-image" src="" alt="">
                    </div>
                    <div class="info-wrapper">
                        <div class="info">
                            <div class="nickname"></div>
                            <div class="date"></div>
                        </div>
                        <div class="replyTo"></div>
                    </div>
                </div>
                <div class="right">
                    <div class="karma"></div>
                </div>
            </div>
            <div class="content">
                <div class="text"></div>
                <div class="attachment"></div>
            </div>
            <div class="footer"></div>
        </div>
    </div>
    <div class="nodes-wrapper">
        <div class="hide hide--invisible"></div>
        <div class="nodes"></div>
    </div>
</div>