.comment-list {
  width: 100%;
  max-width: 550px;
}

.nodes-wrapper {
  display: flex;
  flex-direction: row;
}

.hide {
  width: 2%;
  min-width: 3px;
  max-width: 8px;
  background: green;
  cursor: pointer;
}

.hide--invisible {
  background: none !important;
  cursor: auto;
}

.hide--disabled {
  display: none;
  cursor: auto;
}

.comment-wrapper {
  display: flex;
}

.comment {
  width: 100%;
  padding: 0px 6px;
  box-sizing: border-box;
  overflow: auto;
}

.comment .header {
  padding-top: 5px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

.comment .content {
  overflow-wrap: break-word;
  padding-top: 10px;
  min-height: 50px;
}

.attachment .andropov_image img {
    object-fit: contain;
    max-width: 90%;
    height: 100%;
}

.attachment video {
    max-width: 90% !important;
}

.comment-node {
  width: 100%;
  max-width: 800px;
}

.comment .avatar  {
  flex: 1;
  height: 35px;
  width: 35px;
  border-radius: 100%;
  object-align: cover;
}

.comment .avatar-wrapper {
  margin-right: 10px;
  height: 35px;
  width: 35px;
}

.comment .info {
  display: flex;
  flex: 10;
  flex-direction: column;
}

.comment .nickname {
  font-size: 1em;
}

.comment .date {
  font-size: 0.8em;
}

.nodes-wrapper .nodes {
  overflow: auto;
  flex-grow: 1;
}

.comment .header .left {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.attachment * {
  padding-top: 5px;
  object-fit: contain;
  width: 80%;
}

.karma {
 padding: 2px 10px;
 border-radius: 10%;
}

.positive-karma {
  background: #abf3a3;
  color: #03702c;
}

.negative-karma {
  background: #f6a2a2;
  color: #ee1a1a;
}

.neutral-karma {
  background: #c6c6c6;
  color: #353535;
}

.andropov_image--comment img, .content .attachment video {
    all: initial;
    max-height: 500px;
    width: auto;
}

a {
    color: #3766a9;
    border-bottom: 1px solid #bed0ea;
    cursor: pointer;
}

.comment .footer {
    padding-bottom: 15px;
    font-size: 0.9em;
}

.postOP {
    background: #c3eeee;
    padding: 2px;
}