<div class="comment-node">
    <div class="comment">
        <div class="header">
            <div class="left">
                <img class="avatar andropov-image" src="" alt="">
                <div class="info">
                    <div class="nickname"></div>
                    <div class="date"></div>
                </div>
            </div>
            <div class="right">
                <div class="karma"></div>
            </div>
        </div>
        <div class="content">
            <div class="attachment"></div>
        </div>
    </div>
    <div class="nodes-wrapper">
        <div class="hide"></div>
        <div class="nodes"></div>
    </div>
</div>