<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link rel="apple-touch-icon" sizes="180x180" href="https://raw.githubusercontent.com/DareFox/SaveDTF-Compose/main/.github/resources/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="https://raw.githubusercontent.com/DareFox/SaveDTF-Compose/main/.github/resources/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="https://raw.githubusercontent.com/DareFox/SaveDTF-Compose/main/.github/resources/favicons/favicon-16x16.png">
    <link rel="manifest" href="https://raw.githubusercontent.com/DareFox/SaveDTF-Compose/main/.github/resources/favicons/site.webmanifest">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
    <title>SaveDTF Page</title>
</head>

<body>
<div class="savedtf-wrapper savedtf-insert-here">
</div>
</body>

</html>