<div class="modal" style="position: fixed;">
    <div class="modal-bg">
        <div class="modal-container">
            <div class="modal-parent-gl">
                <div class="modal-gl">
                    <button class="modal-arrow-left modal-button">
                        <img height="50" width="30" class="icon icon_arrow_left" src="svgexport-67.svg"/>
                    </button>
                    <button class="modal-arrow-right modal-button">
                        <img height="50" width="30" class="icon icon_arrow_right" src="svgexport-68.svg"/>
                    </button>
                    <div class="modal-exit-territory">
                        <img class="icon icon_close" src="svgexport-69.svg"/>
                    </div>
                    <div class="modal-gl-container">
                        <div class="gl-image">
                            <input type="checkbox" id="zoomCheck">
                            <label for="zoomCheck">
                                <img class="gl-current-image" src="img\0a0f68d6-5fb3-5a62-8a48-b387aabc8b27.jpeg">
                            </label>
                        </div>
                        <div class="gl-footer">
                            <div class="gl-counter">
                                из
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-instruments">
    </div>
</div>