<div class="modal" style="position: fixed;">
    <div class="modal-bg">
        <div class="modal-container">
            <div class="modal-parent-gl">
                <div class="modal-gl"> <button class="modal-arrow-left modal-button" style="display: block;">
                    <svg class="icon icon_arrow_left" width="30" height="50" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
                        <defs>
                            <symbol viewBox="0 0 7 11" id="ui_arrow_left">
                                <path d="M1.11 6.045l4.608 4.73a.737.737 0 001.062 0 .785.785 0 000-1.09L2.702 5.5 6.78 1.316a.785.785 0 000-1.09.737.737 0 00-1.062 0L1.11 4.956a.78.78 0 000 1.088z"></path>
                            </symbol>
                        </defs><use xlink:href="#ui_arrow_left" fill="#FFFFFF" style="--darkreader-inline-fill: #181a1b;" data-darkreader-inline-fill=""></use>
                    </svg> </button> <button class="modal-arrow-right modal-button" style="display: block;">
                    <svg class="icon icon_arrow_right" width="30" height="50" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
                        <defs>
                            <symbol viewBox="0 0 7 11" id="ui_arrow_right">
                                <path fill-rule="evenodd" d="M5.89 4.955L1.283.225a.737.737 0 00-1.062 0 .785.785 0 000 1.09L4.298 5.5.22 9.684a.785.785 0 000 1.09c.294.3.77.3 1.062 0l4.609-4.73a.776.776 0 000-1.088v-.001z"></path>
                            </symbol>
                        </defs><use xlink:href="#ui_arrow_right" fill="#FFFFFF" style="--darkreader-inline-fill: #181a1b;" data-darkreader-inline-fill=""></use>
                    </svg> </button>
                    <div class="modal-exit-territory">
                        <svg class="icon icon_close" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" height="24" width="24">
                            <defs>
                                <symbol viewBox="0 0 10 10" id="ui_close">
                                    <path fill-rule="evenodd" d="M9.096 0L5 4.097.903 0 0 .904 4.096 5 0 9.097.903 10 5 5.904 9.096 10 10 9.097 5.903 5 10 .904z"></path>
                                </symbol>
                            </defs><use xlink:href="#ui_close" fill="#FFFFFF" style="--darkreader-inline-fill: #181a1b;" data-darkreader-inline-fill=""></use>
                        </svg>
                    </div>
                    <div class="modal-gl-container">
                        <div class="gl-image">
                            <input type="checkbox" id="zoomCheck"> <label for="zoomCheck"> <div class="gl-current-element"></div> </label>
                        </div>
                        <div class="gl-footer">
                            <div class="gl-title"></div>
                            <div class="gl-counter">0 из 0</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-instruments">
    </div>
</div>