name: Create native distributions

on:  
  push:
    tags:
      - '*'
      
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  # This workflow contains a single job called "build"
  buildDeb:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    name: Build Debian package

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v3
      
      - name: Make gradlew executable
        run: chmod +x ./gradlew

      - name: Build package
        run: ./gradlew packageDeb
      
      - name: Find and save package path
        run: |
          echo "FILEPATH=$(find . -name "*.deb")" >> $GITHUB_ENV
        
      - name: Upload package to Github release page
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: ${{ env.FILEPATH }}
          tag: ${{ github.ref }}
          overwrite: true
        
  buildExe: 
    runs-on: windows-latest
    
    name: Build Windows installer
    
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v3
      
      - name: Build package
        run: ./gradlew.bat packageExe
      
      - name: Find and save package path
        run: |
          echo "FILEPATH=$(find . -name "*.exe")" >> $GITHUB_ENV
        shell: bash
        
      - name: Upload package to Github release page
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: ${{ env.FILEPATH }}
          tag: ${{ github.ref }}
          overwrite: true
      
